[defaults]
inventory            = ./inventory/hosts.yml
host_key_checking    = False
retry_files_enabled  = False
gathering            = explicit
stdout_callback      = yaml
roles_path           = ./roles
collections_path     = ~/.ansible/collections
deprecation_warnings = False
interpreter_python   = auto_silent

[persistent_connection]
connect_timeout = 60
command_timeout = 90
